html{
	width:100%;
	height:100%;
}

body{
	height:95%;
}

.main{
	width:100%;
	height:95%;
	border:1px solid black;
	display:inline-block;
}

.main-chart{
	width:75%;
	height:100%;
	border:1px solid red;
	display:inline-block;
}

.main-config{
	width:24%;
	height:100%;
	border:1px solid green;
	display:inline-block;
	vertical-align: top;
}

.draw-button{
	font-size: 30px;
}