<div class="main">
	<div id="chart" class="main-chart">

	</div>
	<div class="main-config">
		<div id="chart_type"></div>
		<div id="text"></div>
		<div id="number"></div>
		<div id="aggregates"></div>
		<div id="draw" class="draw-button">show</div>
	</div>
</div>

<script data-main="/js/main.js" src="/js/dependencies/require.js"></script>
